<div id="<%= dom_id entry %>">
<nav class="panel is-link">
      <p class="panel-heading">
        <%= entry.meal_type %>
      </p>

    <div class="card-content">
      <div class="content">
        <p>
          <span class="has-text-weight-bold">Calories:</span>
          <%= entry.calories %>
        </p>

        <p>
          <span class="has-text-weight-bold">Protein:</span>
          <%= entry.proteins %> grams
        </p>

        <p>
          <span class="has-text-weight-bold">Carbohydrates:</span>
          <%= entry.carbohydrates %> grams
        </p>

        <p>
          <span class="has-text-weight-bold">Fats:</span>
          <%= entry.fats %> grams
        </p>
        <p class="italic">Logged <%= time_ago_in_words(entry.created_at) %> ago</p>
      </div>  
    </div>
  </nav>
</div>